*.filters
**/*.cmake
**/CMakeSettings.json
**/*.bin
**/*.sln
**/*.vcxproj
**/.vs
**/.vscode
**/.idea
**/build/
**/out/
*.db
*.pdb
*.lib
*.ipch
*.suo
*.user
*.log
**/debug/
**/Debug/
**/release/
**/Release/
**/x64
**/.DS_Store
**/__MACOSX/
**/$RECYCLE.BIN/
**/Desktop.ini

!ext/
!template/ext/
